:root {
    /* font size */
    --fs-xs: clamp(0.91rem, calc(0.89rem + 0.10vw), 0.96rem);
    --fs-s: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.20rem);
    --fs-m: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
    --fs-l: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
    --fs-xl: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
    --fs-xxl: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
    /* font family */
    --ff-main: 'Roboto', sans-serif;
    /* font weight */
    --fw-light: 300;
    --fw-reg: 400;
    --fw-bold: 700;
}

body {
    font-family: var(--ff-main);
    height: 100%;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas: 
    'nav header'
    'nav main';
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
header img {
    height: 40px;
    width: 40px;
}

nav {
    grid-area: nav;

}

nav img {
    height: 40px;
    width: 40px
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-areas:
    'projects announcements'
    'projects trending';
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

main img {
    width: 40px;
    height: 40px;

}